{% extends "layout.html" %}

{% block body %}

<hr>
 



  <section class="text-gray-600 body-font">
    <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
        <div class="text-center">
            <img class="lg:w-2/6 md:w-3/6 w-5/6 mb-10 object-cover object-center rounded" alt="hero" src='static\{{data}}.png'>
        </div>
      
        <div class="text-center lg:w-2/3 w-full">
        <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">Iris Flower Category is {{data}}</h1>
        <p class="mb-8 leading-relaxed"> SVC model is used with linear kernel to classify the categories</p>
        

        <div class="flex justify-center">
            <button class="inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">Home</button>
           
          </div>
        </div>
    </div>
  </section>

  <hr>
{% endblock %}