{% extends "layout.html" %}
{% block body %}
    


    <form action="welcome" method="POST">
        <div class="container">
            <h1>Registration</h1> 
         

        <input type="text" name = "name" autocomplete="false" autofocus>
        <br>

        <select   name="departement" >
            <option disabled selected>select Dept</option>
            <option value="1">COMP</option>
            <option value="2">INFT</option>
            <option value="3">EXTC</option>
            <option value="4">ELEC</option>
            <option value="5">MECH</option>
          </select>
          <br>
        <input type="submit" value="register">
    </div>
      </form>
    
{% endblock %}
